.content-tecnology {
    display: flex;
    justify-content: space-around;
    padding: 6vw 7vw;
    background-color: #fff;
    align-items: center;
}

.content-react,
.content-node,
.content-github,
.content-js {
    display: flex;
    align-items: center;
    padding: 0px 2em;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.11);
}

.title-tecnology {
    color: var(--cyan);
    margin-left: 20px;
}

.content-tecnology .content-react ion-icon {
    color: #fff;
    padding: 9px 10px;
    background-color: var(--cyan);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    margin-left: 10px;
    font-size: 30px;
}

.content-tecnology .content-node ion-icon {
    color: #fff;
    padding: 9px 10px;
    background-color: var(--moca);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    margin-left: 10px;
    font-size: 30px;
}

.content-tecnology .content-github ion-icon {
    color: #fff;
    padding: 9px 10px;
    background-color: var(--orange);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    margin-left: 10px;
    font-size: 30px;
}

.content-tecnology .content-js ion-icon {
    color: #fff;
    padding: 9px 10px;
    background-color: rgb(228, 120, 120);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    margin-left: 10px;
    font-size: 30px;
}

.title-about-tecnology {
    font-family: 'Roboto', sans-serif;
    color: var(--cyan);
    font-size: 4.5vw;
    font-weight: 500;
    margin-top: 0;
}

.subtitle-about-tecnology {
    font-family: 'Roboto', sans-serif;
    color: var(--cyan);
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 0;
    line-height: 30px;
}