.title {
    font-family: 'Roboto', sans-serif;
    color: var(--cyan);
    font-size: 6vw;
    font-weight: 500;
    margin-top: 1vw;
}

.sub-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 200;
    color: var(--cyan);
    text-align: end;
}
.sub-title.email{
    color: #ef7858;
    font-weight: 500;
}
.content .honors{
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
}
.content .honors .number{
    font-size: 4em;
    color: var(--cyan);
    margin-right: 5px;
}
.content .honors-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}
.content .honors-images img{
    width: 50%;
}
.content .honors-images p{
    color: var(--cyan);
}
.content .honors h2{
    font-size: 1.4em;
    color: var(--cyan);
    font-weight: 500;
}
.banner {
    width: 100%;
    height: 100%;
    position: relative;
}

.content{
    padding: 0px 7vw;
}

.content section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.img{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.img img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 557px;
}
@media (max-width:920px) {
    .content{
        padding: 0px;
    }
    .banner {
        background-attachment: local;
    }

    .banner .content {
        position: static;
        left: 0%;
        width: 100%;
        background-image: none;
    }

    .banner .content section {
        padding: 2rem;
        flex-direction: column;
        align-items: flex-start;
    }
    .banner .content .sub-title.email {
        display: none;
    }
    .banner .content .honors, .honors-images{
        display: none;
    }
    .banner .content .honors-images{
        display: none;
    }
    .img{
        height: 400px !important;
    }
    .img img{
        width: 100%;
    }
    .content .name{
        margin-top: -20px;
    }
    .sub-title{
        display: none;
    }
    header .logo{
        font-size: 3.5vw;
    }
}